<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
        background-image: url("{%static 'img/fona.jpg'%}");
        background-attachment:fixed;
        height:100%;
        background-repeat:no-repeat;
        background-position:center;
        }
    </style>

</head>
<body>
<a href="{% url 'index' %}"><img src="{%static 'img/fonz.png'%}" width="90" height="70" hspace="5" vspace="5" alt="" style="vertical-align:middle"></a>
<a href="{% url 'prob' %}"><img src="{%static 'img/a.png'%}" width="160" height="70" hspace="5" vspace="5" alt="" style="vertical-align:middle"></a>
<a href="{% url 'xman' %}"><img src="{%static 'img/x.png'%}" width="90" height="50" hspace="5" vspace="5" alt="" style="vertical-align:middle"></a>
<a href="{% url 'fantastic' %}"><img src="{%static 'img/4.png'%}" width="150" height="50" hspace="5" vspace="5" alt="" style="vertical-align:middle"></a>
<a href="{% url 'stgal' %}"><img src="{%static 'img/sg.png'%}" width="150" height="50" hspace="5" vspace="5" alt="" style="vertical-align:middle"></a>

<hr/>
    <h1 align="center" ><font color="black" size="12">Avengers</font></h1>
    <h2><font color="white">«Мсти́тели» (англ. Avengers) — элитная команда супергероев из комиксов компании Marvel Comics. Она была создана писателем Стэном Ли и художником
        Джеком Кирби и впервые появилась в комиксе The Avengersruen в сентябре 1963 года.

Мстители, прозванные впоследствии «Самыми могучими героями Земли», первоначально состояли из Человека-муравья, Осы, Тора, Железного человека и Халка. Однако
        с самого начала в составе команды стали происходить изменения: Халк вскоре покинул Мстителей, и к ним присоединился Капитан Америка. Изменяющийся состав
        стал визитной карточкой команды, хотя некоторое постоянство всё-таки сохранялось: Мстители сражались с такими врагами, одолеть которых в одиночку не мог
        ни один супергерой — так появилась фирменная фраза: «Мстители, общий сбор!» (англ. Avengers Assemble!). За всё время существования команды в ней побывали
        люди, мутанты, роботы, боги, пришельцы, сверхъестественные существа и даже бывшие злодеи.</font></h2>
    <h1 align="center"><font color="white" size="10">Герои:</font></h1>
    <a href="{% url 'spider' %}"><img src="{%static 'img/sm.jpg'%}" width="400" height="400" hspace="50" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
    <a href="{% url 'iron' %}"><img src="{%static 'img/im.jpg'%}" width="400" height="400" hspace="0" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
    <a href="{% url 'hulk' %}"><img src="{%static 'img/h.jpg'%}" width="400" height="400" hspace="50" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
    <a href="{% url 'cap' %}"><img src="{%static 'img/ca.jpg'%}" width="400" height="400" hspace="50" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
    <a href="{% url 'panter' %}"><img src="{%static 'img/bp.jpg'%}" width="400" height="400" hspace="0" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
    <a href="{% url 'tor' %}"><img src="{%static 'img/t.jpg'%}" width="400" height="400" hspace="50" vspace="20" alt="" name="Spider-Man" style="vertical-align:middle"></a>
</body>
</html>